HELP.md
.gradle
build/
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.springBeans
.sts4-cache
bin/

**/.classpath
.factorypath
**/.project
**/.settings
**/target


### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

dependency-reduced-pom.xml
/*~
**/.mvn
*.attach_*

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


target/
.mvn/




.~lock.*
**/private_notes.md
**/private
